# SQL Server - OFIMA
SQLSERVER_HOST=172.200.231.95
SQLSERVER_DB=MICELU
SQLSERVER_USER=db_read
SQLSERVER_PASSWORD=mHRL_<='(],#aZ)T"A3QeD
SQLSERVER_DRIVER=ODBC Driver 17 for SQL Server

# PostgreSQL Railway (esquema: backups)
DATABASE_URL=postgresql://postgres:vWUiwzFrdvcyroebskuHXMlBoAiTfgzP@junction.proxy.rlwy.net:47834/railway
